body {
    font-size: 18px;
    height: 100vh;
    background-color: #ead9cd;

    display: flex;
    justify-content: center;
}

ul {
    padding: 0;
    list-style-type: none;
}

a:link {
    color: inherit;
}

a:visited {
    color: inherit;
}

main {
    width: 100%;
    height: 100%;
    max-width: 1200px;

    display: flex;
    box-shadow: 0 0 10px 10px rgba(128, 128, 128, 0.45);
}

.cover {
    --img-width: 4032px;
    --img-height: 3024px;
    /* max-width: var(--img-width); */
    min-width: min(var(--img-width), 40%);
    /* min-width: var(--img-width); */
    background: no-repeat center / cover url('/img/coffee-bags.jpg');

    text-align: center;
    display: flex;
    flex-direction: column;

    box-shadow: inset 0 0 10px 10px rgb(0,0,0, 0.25);
}

.cover .logo {
    margin-top: 0;
    margin-bottom: auto;
}

.cover .links {
    margin-top: auto;
    color: white;
}

.cover .background-annotation {
    font-size: 0.8rem;
}

.sign-up {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sign-up .slogan {
    padding: 0 1rem;
    font-size: 1.25rem;
    font-weight: 1000;
}

form {
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.559);
    box-shadow: 1px 3px 3px grey;
    margin-bottom: 2rem;
}

form h2 {
    margin-top: 0;
}

form .fields {
    max-width: 500px;
    display: flex;
    flex-direction: column;

    gap: 16px;
}

form .fields .fieldset {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

form .field {
    display: flex;
    flex-direction: column;
}

form .field label {
    font-size: 1rem;
    text-transform: uppercase;
}

.reg-login {
    padding-left: 2rem;

    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: start;
}

button {
    box-sizing: border-box;
    color: white;
    background-color: #97623b;
    padding: 0.7rem 2rem;

    transition-duration: 0.4s;
    cursor: pointer;

    border: 2px solid #97623b;
    border-radius: 8px;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.6);
}

button:hover {
    color: black;
    background-color: white;
    border: 2px solid #97623b;
}